.venv/
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
runs
src/runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/results.xml
test/gate_level_netlist.v
test/gen/*.out
traces/*.txt
test/gen/*.hex
test/gen/*.vvp
test/gen/formal*
test/gen/tb_isa_exhaustive.v
